<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>804185631826-lqvcum118ah3hlu63uvkgo18uu5itj38.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.804185631826-lqvcum118ah3hlu63uvkgo18uu5itj38</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>804185631826-es58djp4itdt3fipd5rp8mc5i0hvcq6b.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBKnuHD4aednvWULay2exD3h5dXZZL4AW0</string>
	<key>GCM_SENDER_ID</key>
	<string>804185631826</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.HDFoodZone</string>
	<key>PROJECT_ID</key>
	<string>foodzone-109c1</string>
	<key>STORAGE_BUCKET</key>
	<string>foodzone-109c1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:804185631826:ios:8d9b6e32882983f3a3c38b</string>
	<key>DATABASE_URL</key>
	<string>https://foodzone-109c1.firebaseio.com</string>
</dict>
</plist>